<div>
    <div mat-dialog-title class="dialog-title">
        <h2>Añadir mascota</h2>
        <button mat-icon-button aria-label="close dialog" mat-dialog-close>
          <mat-icon>close</mat-icon>
        </button>
      </div>
    <div class="modal-body">
        <div *ngIf="data">
            <div class="galleryItem">
                <img src="https://cdn2.thecatapi.com/images/{{data.reference_image_id}}.jpg" class="galleryItem__image" onerror="this.onerror=null; this.src='/assets/images/error.jpg'" alt="" />
            </div>
            <div style="padding: 40px;">
            <mat-form-field class="example-full-width">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="" value="">
            </mat-form-field>
            <button mat-button style="float: right; margin-top: 10px" color="primary"(click)="closeModal()">Guardar</button>
            </div>
        <div> 
    </div>
</div>