.gallery {
    display: grid;
    max-width: calc(100vw - 48px);
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
  }

  .galleryItem {
    border-radius: 2px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
      position:relative;
  }
  
  .galleryItem__image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .galleryItem__image:hover {
    transform: scale(1.03);
    cursor: zoom-in;
  }

  .button {
    padding: 8px 16px;
    border-radius: 2px;
    background-color: #3f51b5;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
    color: #fff;
    border: 0;
    text-decoration: none;
    cursor: pointer;
    font-family: inherit;
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
    font-weight: 500;
    min-width: 180px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  }
  
  .button:hover,
  .button:focus {
    background-color: #303f9f;
  }

  .galleryMessage {
    text-align: center;
    
  }

  .button-add {
    position: absolute;
    right:    0;
    top:   0;
  }