<div class="gallery-conteiner" *ngIf="!galleryService.loading">
    <div class="content" role="main">
        <div class="card">
          <div class="form-group">
            <label for="search-text">Buscar</label>
            <input type="email" class="form-control" id="search-text" aria-describedby="search-text" 
              [(ngModel)]="searchText"
              autofocus>
          </div>
          <ul class="gallery" *ngIf="galleryService.gallery.length; else noGallery">
            <li class="galleryItem"
                *ngFor="let item of galleryService.gallery | appFilter: searchText">
                <img src="https://cdn2.thecatapi.com/images/c1s.jpg" class="galleryItem__image" />
                <span>{{item.name}}</span>            
            </li>
        </ul>
        </div>
      </div>
</div>

<ng-template #noGallery>
    <p class="galleryMessage">Sin imágenes</p>
</ng-template>
<p *ngIf="galleryService.loading">Cargando</p>