<div class="gallery-container" *ngIf="!galleryService.loading">
    <div class="content" role="main">
        <div class="card">
          <div class="form-group" style="padding: 15px;">
            <input type="email" class="form-control" id="search-text" aria-describedby="search-text" 
              [(ngModel)]="searchText"
              placeholder="Filtrar"
              autofocus
              style="padding: 10px; font-size: 2em">
          </div>
          <div class="gallery" *ngIf="galleryService.gallery.length; else noGallery">
            <div class="galleryItem"
                *ngFor="let item of galleryService.gallery | appFilter: searchText">
                <img  style="vertical-align:middle" src="https://cdn2.thecatapi.com/images/{{item.reference_image_id}}.jpg" class="galleryItem__image" onerror="this.onerror=null; this.src='/assets/images/error.jpg'" alt=""/>
                <span >{{item.name}}</span>   
                <button class="button-add" id="add-pet-button" mat-raised-button (click)="openModal(item)">Añadir Mascota</button>     
            </div>    
          </div>
        </div>
      </div>
</div>

<ng-template #noGallery>
    <p class="galleryMessage">Sin imágenes</p>
</ng-template>
<p *ngIf="galleryService.loading">Cargando</p>